/* General */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: #000;
  background-color: #fff;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.contenedor {
  flex: 1;
}

h1, h3, h4, h5 {
  text-align: center;
  margin: 1px;
  padding: 10px;
}

.cita {
  text-align: center;
  font-style: italic;
  margin-bottom: 1px;
  padding-bottom: 5px ;
}

p, li {
  max-width: 800px;
  margin: auto;
  line-height: 1.5;
}

.detalle {
  font-weight: normal;
}

/* Navbar */
.navbar {
  background-image: url("/img/img-header.png");
  background-size: cover;
  background-position: center;
  padding: 1em 0;
  height: 100px;
}

.navbar nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2em;
  padding: 0;
  margin: 0;
}

.navbar nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Tarjetas */
.tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em auto;
  max-width: 900px;
}

.tarjeta {
  width: 180px;
  padding: 4px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.tarjeta h5 {
  margin: 0.5em 0;
}

.tarjeta button {
    margin-top: 1em;
    padding: 10px;
    border: none;
    background-color: white;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.azul {
    background-color: #32475b;
 /*    background-image: url(/img/cognitiva.png);Footer */
}
.icono {
  width: 100px;
  margin-bottom: 10px;
}

.rojo {
    background-color: #641e16;
}

.morado {
  background-color: #7d3c98;
}

.gris {
  background-color: #979a9a;
}

/* Footer */
.footer {
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redes img {
  margin: 1 px;
}

.videos {
  text-align: center;
  margin-top: 2px;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 800px;
  margin: 0 auto;
  padding: 1px;
  border-radius: 10px;
}
.video-container a {
  display: inline-block;
  width: 280px; /* ✅ Mismo ancho para todos */
  text-align: center;
  padding: 10px 15px;
  background-color: #32475b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}
.video-container a:hover {
  background-color: #1f2e3e;
}

.seccion-test {
text-align: center;
}

.seccion-test button {
  margin: 20px auto;
  cursor: pointer;
  padding: 10px 40px;
  color: white;
  font-weight: bold;
  background-color: #5c6a84;
  border-radius: 20px;
  border: 2px solid white;
}

.seccion-test button:hover {
  background-color: #555;
}
