.boton-personalizado {
    background-color: #4CC0B5;
    border-radius: 50px;
    height: 45px;
    border: none;
    cursor: pointer;
    padding: 0 10px 0 10px;
    color: #FFFFFF;
    font-weight: bolder;
}

