.maincontent-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    color: #FFAB22;
    font-weight: 750;
}

.card-container {
    margin-top: 22px;
    display: flex;
    gap: 50px;
}