* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

#forgeLogo {
    width: 100px;
    height: 70px;
}

.nav-container {
    padding: 10px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000101;
}

.nav-container > * {
  flex: 1;
  text-align: center;
}

.nav-container > h1 {
    color: #fc6802;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.botones > a {
    color: #ffab22;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}